*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.flex img{

width: 200px;
height: 50%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.btn-contato button{
  border-radius: 3px;
  width: 120px;
  height: 40px;
  border: 0;
  background-color: rgb(55, 78, 120);
  color: #fff;
  cursor: pointer;
  transition:  .2;
}

.btn-contato button:hover{
  background-color: rgb(44, 66, 107);
}

.container{
  max-width: 1200px;
  margin: auto;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between; /*Garante que os elementos fiquem bem divididos nas extremidades*/
}


header i{
  font-size: 30px;
  color: white;
}

header ul{
  list-style-type: none;
}

header ul li{
  display: inline-block;
  margin: 0 40px;
}

header ul li a{
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
}

header{
  width: 100%;
  padding: 60px 4%;
  position: fixed;
  top:0;
  left:0;
  transition: .7s;
}

header.rolagem{
  background-color: #ffffff;
  padding: 4px 4%;
}

header.rolagem ul li a, header.rolagem i{
  color:#1E2D40;
}



