
  <nav class="menu-lateral">

    <ul>
      <li class="item-menu">
        <a routerLink="#">
          <span class="icon"><i class="bi bi-house"></i></span>
          <span class="txt-link">Home</span>
        </a>
      </li>
      <li class="item-menu">
        <a routerLink="#">
          <span class="icon"><i class="bi bi-columns-gap"></i></span>
          <span class="txt-link">Dashboard</span>
        </a>
      </li>
      <li class="item-menu">
        <a routerLink="#">
          <span class="icon"><i class="bi bi-person"></i></span>
          <span class="txt-link">Conta</span>
        </a>
      </li>
    </ul>
  </nav><!--menu lateral-->
