<header id="header">
  <div class="container">
    <div class="flex">
      <a routerLink="#"><img class="img-logo" src="../../../assets/images/voltronlogo.png" alt="">  </a>
      <nav>
        <ul>
          <li><a routerLink="#">HOME</a></li>
          <li><a routerLink="#">PERSONAGENS</a></li>
          <li><a routerLink="#">CADASTRO</a></li>
          <li><a routerLink="#">CONFIGURAÇÃO</a></li>
        </ul>
      </nav>

      <div class="btn-contato">
        <a routerLink="#"><button>CONTATO</button></a>
      </div>
    </div><!--flex-->
  </div><!--container-->
</header>
