<!--
  <nav class="menu-lateral">

    <ul>
      <li class="item-menu">
        <a routerLink="#">
          <span class="icon"><i class="bi bi-house"></i></span>
          <span class="txt-link">Home</span>
        </a>
      </li>
      <li class="item-menu">
        <a routerLink="#">
          <span class="icon"><i class="bi bi-columns-gap"></i></span>
          <span class="txt-link">Dashboard</span>
        </a>
      </li>
      <li class="item-menu">
        <a routerLink="#">
          <span class="icon"><i class="bi bi-person"></i></span>
          <span class="txt-link">Conta</span>
        </a>
      </li>
    </ul>
  </nav> -->


<header id="header">
  <div class="container">
    <div class="flex">
      <a routerLink="#"><i class="bi bi-globe-americas"></i>  </a>
      <nav>
        <ul>
          <li><a routerLink="#">HOME</a></li>
          <li><a routerLink="#">PERSONAGENS</a></li>
          <li><a routerLink="#">CADASTRO</a></li>
          <li><a routerLink="#">CONFIGURAÇÃO</a></li>
        </ul>
      </nav>

      <div class="btn-contato">
        <a routerLink="#"><button>CONTATO</button></a>
      </div>
    </div><!--flex-->
  </div><!--container-->
</header>
