/*
AULA DE BACKGROUND E TEXT-ALIGN


.body{
  height: 100%
}

.bg{
   width: 100%;
  margin: 0 auto;
  height: 50vh;
  background-color: red;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("/assets/images/voltronseason21.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ; Primeira posição é largura, segunda é altura eixo X e depois eixo Y
}

.box{
  width: 100%;
  margin: 80px auto;
  text-align: center;
  background-color: rgb(224, 217, 217);
}

.item{
  width: 33.33%;
  margin-right: -4px;
  display: inline-block;
}
.item img{
  width: 26%;
}
.item p{
  display: inline-block;
  text-align: left;
}

.last{
  margin-right: 0;
}


*/

/* PSEUDO-CLASSES  MOUSE

.teste1,.teste2,.teste3{
  width: 300px;
  height: 30px;
  margin-top: 30px;
  margin-left: 30px;
  display: inline-block;
  background-color:rgb(165, 150, 150);s
}

.teste2{
  background-color: rgb(219, 85, 85);
}

.teste3{
  background-color: rgb(78, 37, 182);
}

.teste1:hover{
  height: 400px;
  background-color: rgb(87, 78, 78);
}

.teste1:hover,.teste2, .teste3{
  vertical-align: top;
}

 Active é mouse pressionado
.teste1:active{
  background-color: black;
}


 .teste1:focus{
  background-color: red;
 }

 .link1:visited{
  color:rgb(188, 57, 57);
}

.link1{
  color: rgb(31, 255, 95);
} */

/* PSEUDO-CLASSES

*/
