<!--
  ---AULA DE BACKGROUND E ATEXT-ALIGN---

  <body>
 <div class="bg"></div>
  <div class="box">
    <div class="item">
      <img src="assets\images\pidge.png">
      <div class="h2">Titulo</div>
      <p>Aqui é o meu texto. Mais texto. Muito mais texto. Olha quanto texto is texto. Olha quanto texto is texto. Olha quanto texto.Aqui é o meu texto. Mais texto. Muito mais texto. Olha quanto texto is texto. Olha quanto texto is texto. Olha quanto textoAqui é o meu texto. Mais texto. Muito mais texto. Olha quanto texto is texto. Olha quanto texto is texto. Olha quanto texto</p>
    </div>
    <div class="item">
      <img src="assets\images\pidge.png">
      <div class="h2">Titulo</div>
      <p>Aqui é o meu texto</p>
    </div>
    <div class="item last">
      <img src="assets\images\pidge.png">
      <div class="h2">Titulo</div>
      <p>Aqui é o meu texto</p>
    </div>
  </div>
</body>

 -->

<body>
    <!-- <div class="teste1"></div>
    <div class="teste2"></div>
    <div class="teste3"></div> -->

    <!-- <input class="teste1" type="text"> -->
    <a class="link1" target="_blank" href="https://www.google.com/">Meu link</a>
</body>
