.container {
  width: 100%;
  height: 91.50vh;
  background-color: #152e4d;
  display: flex;
  transition: box-shadow 0.3s ease;
  transition: 1s;
}

section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider {
  display: flex;
}

.parent-container input {
  display: none;
}

.slider-container {
   background-size: cover;
  display: flex;
  margin: auto;
  width: 1140px;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 25px #0561d9;
  transition: .2s;
  overflow: hidden;
}

.slider-box {
  background-size: cover;
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.nav-manual, .nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 39%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: .3s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #ffffff;
}

#radio1:checked ~ .container .nav-auto .auto-btn1,
#radio2:checked ~ .container .nav-auto .auto-btn2,
#radio3:checked ~ .container .nav-auto .auto-btn3,
#radio4:checked ~ .container .nav-auto .auto-btn4,
#radio5:checked ~ .container .nav-auto .auto-btn5,
#radio6:checked ~ .container .nav-auto .auto-btn6 {
  background-color: #ffffff;
}

#radio1:checked ~ .container .nav-manual label[for="radio1"],
#radio2:checked ~ .container .nav-manual label[for="radio2"],
#radio3:checked ~ .container .nav-manual label[for="radio3"],
#radio4:checked ~ .container .nav-manual label[for="radio4"],
#radio5:checked ~ .container .nav-manual label[for="radio5"],
#radio6:checked ~ .container .nav-manual label[for="radio6"] {
  background-color: #ffffff;
}

#radio1:checked ~ .container .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .container .primeiro {
  margin-left: -100%;
}

#radio3:checked ~ .container .primeiro {
  margin-left: -200%;
}

#radio4:checked ~ .container .primeiro {
  margin-left: -300%;
}

#radio5:checked ~ .container .primeiro {
  margin-left: -400%;
}

#radio6:checked ~ .container .primeiro {
  margin-left: -500%;
}

/* SOMBRAS */
#radio2:checked ~ .container .slider-container {
  box-shadow: 0 0 25px #9A4741;
}
#radio3:checked ~ .container .slider-container {
  box-shadow: 0 0 25px #4cd50d;
}
#radio4:checked ~ .container .slider-container {
  box-shadow: 0 0 25px #dc9717;
}
#radio5:checked ~ .container .slider-container {
  box-shadow: 0 0 25px #6f27b6;
}
#radio6:checked ~ .container .slider-container {
  box-shadow: 0 0 25px #F2A6B0;
}

/* SOMBRAS */

/* CONTAINER */

#radio2:checked ~ .container {
  background-color: #551d19;
}
#radio3:checked ~ .container {
  background-color: #214311;
}
#radio4:checked ~ .container {
  background-color: #4e3912;
}
#radio5:checked ~ .container {
  background-color: #1f0d30;
}
#radio6:checked ~ .container {
  background-color: #51192c;
}
