<!-- <div class="card">
  <h1 >Lance</h1>
  <div class="lance-img">
    <img src="assets\images\lance.jpg">
  </div>
  <img>
  <p>Olá</p>
</div> -->

 <div class="box">
      <div class="lugar-cards">
        <div *ngFor="let personagem of personagens" class="card" [ngClass]="'card-' + personagem.nome?.toLowerCase()">
          <div class="image">
            <img [src]="personagem.imagemPerfilURL" alt="{{ personagem.nome }}">
          </div>
          <p>{{ personagem.descricao }}</p>
        </div>
        <div style="clear: both;"></div>
      </div>
</div>

<div class="caixinha">
  <h1> eaiiii kkkkk</h1>
</div>

