<div class="box">
      <div class="lugar-cards">
        <div *ngFor="let personagem of personagens" class="card" [ngClass]="'card-' + personagem.nome?.toLowerCase()">
          <div class="image">
            <img [src]="personagem.imagemPerfilURL" alt="{{ personagem.nome }}">
          </div>
          <p>{{ personagem.descricao }}</p>
        </div>
        <div style="clear: both;"></div>
      </div>
</div>
<html>
  <section class="banner">
    <h1>OS <a (click)="scrollToPosition(873)">PALADINOS</a> DE VOLTRON</h1>
  </section>

</html>

